<footer class="footer border border-top border-neutral-300">
  <div class="container">
    <p class="text-primary-400 text-center py-4">
      ©Vivre 2024 All right Reserved
    </p>
  </div>
</footer>
