<nav class="navbar navbar-expand-lg py-c3 py-lg-c5">
  <div class="container">
    <h1>
      <a
        class="navbar-brand"
        href="./index.html"
        style="background-image: url(../assets/images/logo.svg)"
        target="_self"
        >Vivre</a
      >
    </h1>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse mt-4 m-lg-0"
      id="navbarSupportedContent"
    >
      <div class="d-flex flex-column flex-lg-row w-100">
        <div
          class="input-group border border-neutral-200 bg-white rounded-pill ms-lg-c3"
        >
          <label
            class="input-group-text search-text border-0 bg-transparent align-bottom ps-c3 pe-c2"
            for="search"
            >搜尋文章</label
          >
          <input
            type="text"
            class="form-control border-0 bg-transparent px-0"
            id="search"
            aria-label="search"
          />
          <a
            href="#"
            class="btn border-0 text-accent-200 d-flex align-items-center fs-4 px-c3"
            role="button"
            ><i class="bi bi-search"></i
          ></a>
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-auto">
          <li class="nav-item d-flex align-items-center me-lg-c3 mt-4 mt-lg-0">
            <a class="nav-link fs-6 fw-bold py-lg-2 px-lg-c3 p-c2" href="#"
              >所有文章</a
            >
          </li>
          <li class="nav-item d-flex align-items-center me-lg-c3 mt-4 mt-lg-0">
            <a class="nav-link fs-6 fw-bold py-lg-2 px-lg-c3 p-c2" href="#"
              >訂閱方案</a
            >
          </li>
          <li class="nav-item d-flex align-items-center me-lg-c3 mt-4 mt-lg-0">
            <a class="nav-link fs-6 fw-bold py-lg-2 px-lg-c3 p-c2" href="#"
              >關於我們</a
            >
          </li>
          <li class="nav-item d-flex align-items-center mt-c6 mt-lg-0">
            <a
              class="nav-link cus-linkBtn fs-6 fw-bold py-lg-3 px-lg-c3 p-c2 w-100 text-center"
              href="#"
              >登入/註冊</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
