.navbar {
  .input-group {
    max-width: 276px;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }

    .search-text {
      color: $neutral-300
    }

    &:focus-within {
      .search-text {
        color: $neutral-500;
      }
    }

    i {
      vertical-align: bottom;
      line-height: 1;
    }

    input {
      line-height: 1.5;
    }
  }
}